:local(.input) {
	background: #fff;

    display: block;
	box-sizing: border-box;
	width: 100%;
	height: 40px;

	padding: 0 6px;
	margin: 10px 0;
	border-radius: 2px;
	border: 2px solid #eee;
	
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.05em;
	line-height: 36px;
}

:local(.input):focus {
	outline: none;
	box-shadow: none;
	border-color: #5f91dd;
}