table:local(.this) {
    width: 100%;
    overflow-x: auto;
}

:local(.this) th,
:local(.this) td {
    border-bottom: 1px solid #ccc;
    padding: 2px 8px;

    font-size: 16px;
    line-height: 24px;
}

:local(.this) th {
    color: #aaa;

    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.05em;

    text-align: left;
}

:local(.this) tr:hover {
    background: #ffb;
}

:local(.this) td {
    text-align: left;
}

:local(.this) th:first-child,
:local(.this) td:first-child {
    width: 60%;
}

:local(.this) .n {
    text-align: right;
}