:local(.this) {
    display: flex;
    height: 100%;
    flex-direction: column;
}

:local(.header) {
    background: #eee;
    line-height: 36px;
    padding: 0 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    font-weight: 500;
}

:local(.content) {
    flex-grow: 1;
    flex-shrink: 1;
}

:local(.content) li {
    padding: 0 14px;
    line-height: 36px;
    cursor: pointer;
}

:local(.content) li:hover {
    background: #ddd;
}