:local(.button) {
    background: #d22732;
    color: #fff;
    
    padding: 0px 18px;
    margin: 10px 0;
    outline: none;
    border: 0;
    border-radius: 4px;

    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.05em;
    line-height: 36px;
    
    cursor: pointer;
    
	transition: background 0.5s;
}

:local(.button):hover {
    background: #e03b2f;
	transition: background 0.2s;
}

:local(.button):active {
    background: #b6362d;
	transition: background 0s;
}